<%= form_for(@application_group) do |f| %>

<table class="tablerow">
<tr>
  <td class="pagetitle">
    <h1><%= t(:title) %></h1>
  </td>
</tr>
</tr>
<tr>
   <td class="af_center">
    <%= error_messages_for :application_group, :header_message => 'Error:', :message => nil %>
   </td>
</tr>
<tr>
  <td class="af_justify">
<p align="center">
<%=t :intro_part_1_html %>
</p>
</td>
</tr>

<tr>
  <td valign="top">
    <table>
      <tr>
        <td colspan="2">
          <%= render 'confirmation', :f => f %>
      </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <div class="actions">
            <%= f.submit t(:register) %>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
<% end -%>
