<div class="row">
  <div class="col-md-12 text-center">
    <h1><%= t(:title) %></h1>
  </div>
</div>

<%= form_for(@application_group) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= error_messages_for :application_group %>
    </div>
  </div>

  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <%= render 'confirmation', :f => f %>
      </div>
    </div>

    <div class="row spacer text-center">
      <div class="actions">
        <%= f.submit t(:register), class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end -%>
