<table class="tablerow">
<tr>
  <td class="pagetitle">
    <h1><%= t(:submitted_title) %></h1>
  </td>
</tr>
</tr>
<tr>
  <td class="af_justify">
<p align="left">
<%=t :submitted_intro_part_1 %>
</p>
<p>
<p><strong><%=t :submitted_intro_part_2 %></strong></p>
<p>
<%=t :submitted_intro_part_3 %>
<script language="JavaScript"> 
<!--
document.write ('<a href="mai')
document.write ('lto:confsec')
document.write ('&#64;')
document.write ('caux.ch">confsec')
document.write ('&#64;')
document.write ('caux.ch</a>.')
// -->
</script>
</p>
</td>
</tr>

<tr>
  <td valign="top">
    <table>
      <tr>
        <td colspan="2" align="center">
          <p><%=t :follow_us_on %></p>
          <table>
          <tbody>
          <tr>
          <td>&nbsp;&nbsp;<a href="http://www.facebook.com/CAUX.IofC" target="_blank"><img height="29" width="29" class="image image-_original " alt="" src="http://www.iofc.org/sites/all/files/images/logo-facebook.jpg" /></a></td>
          <td><a href="http://twitter.com/CAUXIofC" target="_blank"><img alt="" src="http://www.iofc.org/sites/all/files/images/twitter_logo.jpg" class="image image-_original" /></a></td>
          <td><a href="http://www.youtube.com/user/CAUXIofC" target="_blank"><img height="29" width="73" class="image<br />
                      image-_original " alt="" src="http://www.iofc.org/sites/all/files/images/Youtube.img_assist_custom-73x29.png" /></a></td>
          <td><a target="_blank" href="http://www.flickr.com/photos/caux-iofc"><img width="29" height="29" src="http://www.caux.iofc.org/sites/all/files/images/flickr_bloc_2011.img_assist_custom-29x29.png" alt="" class="image<br />
                      image-_original " /></a></td>
          </tr>
          </tbody>
          </table>
          </div>
      </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <div class="actions">
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
