<div class="row">
  <div class="col-md-12">
    <%=t :aeub_2015_intro_html %>
  </div>
</div>

<%= oac.fields_for :variables do |var| -%>

<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <%= f.label :aeub_2015_name_and_role, t(:aeub_2015_name_and_role), class: 'control-label' %>
      <%= var.text_field :name_and_role, { :value => oac.object.variables["name_and_role"], :class => 'form-control' } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%=t :aeub_2015_priority_html %>
  </div>
</div>

<%= oac.fields_for :online_application_conference_workstreams do |cw| -%>
<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <%= f.label :preference, t(cw.object.preference), class: 'control-label' %>
      <%= cw.hidden_field :preference, :value => cw.object.preference %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <%= cw.select(:conference_workstream_id, ConferenceWorkstream.with_translations.where('conference_id = ?',oac.object.conference.id).collect {|p| [ p.name, p.id ] }, {:include_blank => t(:choose_one), :class => 'form-control'}) %>
    </div>
  </div>
</div>
<% end -%>

<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
       <div id="aeub_2015_first_choice_extra" style="display:none; border-style:solid; border-width:1px; padding:5px;"></div><br/>
       <div id="aeub_2015_second_choice_extra" style="display:none; border-style:solid; border-width:1px; padding:5px;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :aeub_2015_expectations, t(:aeub_2015_expectations), class: 'control-label' %>
      <%= var.text_area :aeub_2015_expectations, { :value => oac.object.variables["aeub_2015_expectations"], :rows => '4', :class => 'form-control' } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :aeub_2015_instrument, t(:aeub_2015_instrument), class: 'control-label' %>
      <%= var.text_area :aeub_2015_instrument, { :value => oac.object.variables["aeub_2015_instrument"], :rows => '4', :class => 'form-control' } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <%= f.label :role, t(:I_will_come_as), class: 'control-label' %>
      <%= oac.check_box :role_participant %> <%=t 'participant' %>&nbsp;&nbsp;
      <%= oac.check_box :role_speaker %> <%=t 'speaker' %>&nbsp;&nbsp;
      <%= oac.check_box :role_team %> <%=t 'team' %>&nbsp;&nbsp;
    </div>
  </div>
</div>
<% end -%>

<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <%= f.label :aeub_2015_monnet, t(:aeub_2015_monnet), class: 'control-label' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= oac.fields_for :variables do |var| -%>
      <div class="form-group required">
        <div class="radio">
          <div class="row">
            <div class="col-md-12">
              <label>
                <%= var.radio_button :aeub_2015_monnet, "would like to visit", { :checked => (oac.object.variables["aeub_2015_monnet"] == "would like to visit"), :class => 'aeub_2015_monnet' } %> <%=t :aeub_2015_monnet_option_1_label %>
              </label>
            </div>
            <div class="col-md-11 col-md-offset-1">
              <div class="radio">
                <div class="row">
                  <div class="col-md-12">
                    <label>
                      <%= var.radio_button :aeub_2015_monnet_travel, "from Caux to Lausanne and back", { :checked => (oac.object.variables["aeub_2015_monnet_travel"] == "from Caux to Lausanne and back"), :class => 'aeub_2015_monnet' } %> <%=t :aeub_2015_monnet_travel_option_1_label %>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>
                      <%= var.radio_button :aeub_2015_monnet_travel, "own means", { :checked => (oac.object.variables["aeub_2015_monnet_travel"] == "own means"), :class => 'aeub_2015_monnet' } %> <%=t :aeub_2015_monnet_travel_option_2_label %>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>
                      <%= var.radio_button :aeub_2015_monnet_travel, "from Lausanne to Caux", { :checked => (oac.object.variables["aeub_2015_monnet_travel"] == "from Lausanne to Caux"), :class => 'aeub_2015_monnet' } %> <%=t :aeub_2015_monnet_travel_option_3_label %>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label>
                <%= var.radio_button :aeub_2015_monnet, "schedule conflict", { :checked => (oac.object.variables["aeub_2015_monnet"] == "schedule conflict"), :class => 'aeub_2015_monnet' } %> <%=t :aeub_2015_monnet_option_2_label %>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>
                <%= var.radio_button :aeub_2015_monnet, 'do not wish to visit', { :checked => (oac.object.variables["aeub_2015_monnet"] == "Other"), :class => 'do not wish to visit' } %> <%=t :aeub_2015_monnet_option_3_label -%>
              </label>
            </div>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <%= f.label :aeub_2015_monnet_note, t(:aeub_2015_monnet_note) %>
    </div>
  </div>
</div>



