<%=t :tige_2015_intro_html %>

<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <%= f.label :tige_2015_options, t(:tige_2015_options), class: 'control-label' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= oac.fields_for :variables do |var| -%>
      <div class="form-group required">
        <div class="radio">
          <div class="row">
            <div class="col-md-12">
              <label>
                <%= var.radio_button :tige_2015_options, "TIGE breakout sessions", { :checked => (oac.object.variables["tige_2015_options"] == "TIGE breakout sessions"), :class => 'tige_2015_options' } %> <%=t :tige_2015_option_1_label %>
              </label>
            </div>
            <div class="col-md-11 col-md-offset-1"><%=t :tige_2015_option_1_html %></div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label>
                <%= var.radio_button :tige_2015_options, "EPIC", { :checked => (oac.object.variables["tige_2015_options"] == "EPIC"), :class => 'tige_2015_options' } %> <%=t :tige_2015_option_2_label %>
              </label>
            </div>
            <div class="col-md-11 col-md-offset-1"><%=t :tige_2015_option_2_html %></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>
                <%= var.radio_button :tige_2015_options, "Impact Leadership Track", { :checked => (oac.object.variables["tige_2015_options"] == "Impact Leadership Track"), :class => 'tige_2015_options' } %> <%=t :tige_2015_option_3_label %>
              </label>
            </div>
            <div class="col-md-11 col-md-offset-1"><%=t :tige_2015_option_3_html %></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>
                <%= var.radio_button :tige_2015_options, 'Other', { :checked => (oac.object.variables["tige_2015_options"] == "Other"), :class => 'tige_2015_options' } %> <%=t :tige_2015_option_4_label -%>
              </label>
            </div>
            <div class="col-md-11 col-md-offset-1">
              <%=t :tige_2015_option_4_html %>
              <div class="control-label col-md-offset-1" id="<%= var.object_name.gsub(/[\[\]]+/,'_') -%>tige_2015_options_other_detail" style="display:none">
                <%= var.text_field :tige_2015_other_detail, { :class => 'form-control', :value => oac.object.variables["tige_2015_other_detail"] } -%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <%= oac.label :role, t(:I_will_come_as), class: 'control-label' %>
      <%= oac.check_box :role_participant %> <%=t 'participant' %>&nbsp;&nbsp;
      <%= oac.check_box :role_speaker %> <%=t 'speaker' %>&nbsp;&nbsp;
      <%= oac.check_box :role_team %> <%=t 'team' %>&nbsp;&nbsp;
    </div>
  </div>
</div>

