
<%= oac.fields_for :variables do |var| -%>
<p><span class="af_star">*</span><strong><%=t :heal_2013_name_and_role %></strong><br/>
<%= var.text_field :heal_2013_name_and_role, :value => oac.object.variables["heal_2013_name_and_role"], :size => 80 %>
</p>

<p><span class="af_star">*</span><strong><%=t :heal_2013_contact_sharing %></strong><br/>
  <%= var.radio_button :heal_2013_contact_sharing, :false %> <%=t :heal_2013_no %>
  <%= var.radio_button :heal_2013_contact_sharing, :true %> <%=t :heal_2013_yes %>
</p>

<p><span class="af_star">*</span><strong><%=t :heal_2013_previous_experience %></strong><br/>
<%= var.text_area :heal_2013_previous_experience, :value => oac.object.variables["heal_2013_previous_experience"], :cols => '80', :rows => '4' %>
</p>

<p><strong><%=t :heal_2013_interest_in_header_html %></strong><br/>
<%= var.check_box :heal_2013_narratives %>&nbsp;&nbsp;<%=t :heal_2013_interest_narratives %></br>
<%= var.check_box :heal_2013_trauma %>&nbsp;&nbsp;<%=t :heal_2013_interest_trauma %></br>
<%= var.check_box :heal_2013_health %>&nbsp;&nbsp;<%=t :heal_2013_interest_health %></br>
<%= var.check_box :heal_2013_education %>&nbsp;&nbsp;<%=t :heal_2013_interest_education %></br>
<%= var.check_box :heal_2013_opportunity %>&nbsp;&nbsp;<%=t :heal_2013_interest_opportunity %></br>
<%= var.check_box :heal_2013_partnerships %>&nbsp;&nbsp;<%=t :heal_2013_interest_partnerships %></br>
</p>

<p><span class="af_star">*</span><strong><%=t :I_will_come_as %></strong><br/>
  <%= oac.check_box :role_participant %><%=t 'participant' %>&nbsp;&nbsp;
  <%= oac.check_box :role_speaker %><%=t 'speaker' %>&nbsp;&nbsp;
  <%= oac.check_box :role_team %><%=t 'team' %>&nbsp;&nbsp;
</p>


<% end -%>

