
<%= oac.fields_for :variables do |var| -%>

<p><span class="af_star">*</span><strong><%=t :seed_2013_offer %></strong><br/>
<%= var.text_area :seed_2013_offer, :value => oac.object.variables["seed_2013_offer"], :cols => '80', :rows => '4' %>
</p>

<p>
<span class="af_star">*</span><strong><%=t :I_will_come_as %></strong><br/>
  <%= oac.check_box :role_participant %><%=t 'participant' %>&nbsp;&nbsp;
  <%= oac.check_box :role_speaker %><%=t 'speaker' %>&nbsp;&nbsp;
  <%= oac.check_box :role_team %><%=t 'team' %>&nbsp;&nbsp;
</p>

<% end -%>

