<%= form_for(@online_application) do |f| %>

<table class="tablerow" width="550">
<tr>
  <td class="pagetitle">
    <h1><%= t(:title) %></h1>
  </td>
</tr>
</tr>
<tr>
   <td class="af_center">
    <%= error_messages_for :online_application, :header_message => 'Error: the contents of this form could not be validated.', :message => nil %>
   </td>
</tr>
<tr>
  <td class="af_justify">
<p align="left">
<%=t :intro_part_1_html %>
<script language="JavaScript"> 
<!--
document.write ('<a href="mai')
document.write ('lto:confsec')
document.write ('&#64;')
document.write ('caux.ch">confsec')
document.write ('&#64;')
document.write ('caux.ch</a>.')
// -->
</script>
<%=t :intro_part_2_html %>
</p>

<p align="left">
<%=t :intro_part_3 %>
</p>
</td>
</tr>

<tr>
  <td valign="top">
    <table cellspacing="2" cellpadding="2" border="0" width="100%">
      <tr>
        <td colspan="2">
          <%= render 'personal_information', :f => f %>
      </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render 'contact_information', :f => f %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render 'permanent_address', :f => f %>
        </td>
      </tr>
      <tr class="correspondence_address_required" style="display:none">
        <td colspan="2">
          <%= render 'correspondence_address', :f => f %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render 'stay_in_caux', :f => f %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render 'visa', :f => f %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render 'conference_fees', :f => f %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render 'name_badge', :f => f %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= render 'remarks', :f => f %>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <div class="actions">
            <%= f.submit t(:proceed) %>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
<% end -%>
