         <table class="af_block">
           <tr>
             <td colspan="2" align="center"><span class="af_normtitle"><%=t :conference_participation %></span></td>
           </tr>
           <%= f.fields_for :online_application_conferences do |oac| %>
           <%= oac.hidden_field :conference_id, :value => oac.object.conference.id %>
           <%= oac.hidden_field :priority_sort, :value => oac.object.priority_sort %>
           <tr>
             <td>
               <%= oac.check_box :selected, :class => "oac_checkbox_#{oac.object.conference.id}" %>
               <%= label_tag :conference_id, oac.object.conference.name %>
             </td>
             <td>
               <%=t oac.object.conference.start.strftime("%B %e, %Y") %> - <%=t oac.object.conference.stop.strftime("%B %e, %Y") %> 
             </td>
           </tr>
           <% if oac.object.conference.byline != '' -%>
           <tr>
             <td colspan="2">
               <%= oac.object.conference.byline %>
             </td>
           </tr>
           <% end -%>
           <% if oac.object.template_exists -%>
           <tr class="oac_checkbox_<%= oac.object.conference.id %>_subform" style="display:none">
             <td colspan="2" class="conference_subform_td">
               <div class="conference_subform">
                 <%= render oac.object.conference.template_path, :f => f, :oac => oac %>
               </div>
             </td>
           </tr>
           <% end -%>
           <% end -%>
           <tr>
             <td colspan="2" align="center"><span class="af_normtitle"><%=t :training_participation %></span></td>
           </tr>
           <% TrainingProgram.find_all_by_session_group_id(session[:session_group_id]).each do |tp| -%>
           <tr>
             <td>
               <%= check_box_tag :training_program_ids, tp.id, @online_application.training_programs.include?(tp), :name => 'online_application[training_program_ids][]', :id => "tp_check_" + (tp.nil? or tp.name.nil? ? '' : tp.name.downcase) %>
               <%= label_tag :training_program_ids, tp.name %>
             </td>
             <td>
               <%=t tp.start.strftime("%B %e, %Y") %> - <%=t tp.stop.strftime("%B %e, %Y") %> 
             </td>
           </tr>
           <% if tp.byline != '' -%>
           <tr>
             <td colspan="2">
               <table>
                 <tr>
                   <td width="100">&nbsp;</td>
                   <td><font size="-1"><%= tp.byline %></font></td>
                 </tr>
               </table>
             </td>
           </tr>
           <% end -%>
           <% end -%>
           <tr>
             <td colspan="2" align="center"><span class="af_normtitle"><%=t :other_reason %></span></td>
           </tr>
           <tr>
             <td colspan="2">
               <%= f.check_box :interpreter %> <%=t :interpreter %><br />
               <%= f.check_box :volunteer %> <%=t :volunteer %><br />
               <%= f.check_box :other_reason %> <%=t :other_reason_please_specify %> <%= f.text_field :other_reason_detail %>
             </td>
           </tr>
         </table>

