         <table class="af_block">
           <% if @oac_normal.size > 0 -%>
           <tr>
             <td colspan="2" align="center"><span class="af_normtitle"><%=t :conference_participation %></span></td>
           </tr>
           <% end -%>
           <%= f.fields_for :online_application_conferences, @oac_normal do |oac| %>
           <%= oac.hidden_field :conference_id, :value => oac.object.conference.id %>
           <%= oac.hidden_field :priority_sort, :value => oac.object.priority_sort %>
           <tr>
             <td>
               <% if not oac.full -%>
                 <%= oac.check_box :selected, :class => "oac_checkbox_#{oac.object.conference.id}" %>
               <% end -%>
               <%= label_tag :conference_id, oac.object.conference.name %>
             </td>
             <td>
               <%=l oac.object.conference.start.to_date, :format => :standard %> - <%=l oac.object.conference.stop.to_date, :format => :standard %>
             </td>
           </tr>
           <% if oac.full -%>
             <strong><%=t :conference_full -%></strong>
           <% end -%>
           <% if not oac.object.conference.byline.nil? -%>
           <tr>
             <td colspan="2">
               <table align=left>
                 <tr>
                   <td width="30">&nbsp;</td>
                   <td><font size="-1"><%= oac.object.conference.byline.html_safe %></font></td>
                 </tr>
               </table>
             </td>
           </tr>
           <% end -%>
           <% if oac.object.template_exists -%>
           <tr class="oac_checkbox_<%= oac.object.conference.id %>_subform" style="display:none">
             <td colspan="2" class="conference_subform_td">
               <div class="conference_subform">
                 <%= render oac.object.conference.template_path, :f => f, :oac => oac %>
               </div>
             </td>
           </tr>
           <% end -%>
           <% end -%>
           <% if @oac_special.size > 0 -%>
           <tr>
             <td colspan="2" align="center"><span class="af_normtitle"><%=t :special_conference_participation %></span></td>
           </tr>
           <% end -%>
           <%= f.fields_for :online_application_conferences, @oac_special do |oac| %>
           <%= oac.hidden_field :conference_id, :value => oac.object.conference.id %>
           <%= oac.hidden_field :priority_sort, :value => oac.object.priority_sort %>
           <tr>
             <td>
               <%= oac.check_box :selected, :class => "oac_checkbox_#{oac.object.conference.id}" %>
               <%= label_tag :conference_id, oac.object.conference.name %>
             </td>
             <td>
               <% if oac.object.conference.display_dates -%>
                 <%=l oac.object.conference.start.to_date, :format => :standard %> - <%=l oac.object.conference.stop.to_date, :format => :standard %>
               <% end -%>
             </td>
           </tr>
           <% if not oac.object.conference.byline.nil? -%>
           <tr>
             <td colspan="2">
               <table align=left>
                 <tr>
                   <td width="30">&nbsp;</td>
                   <td><font size="-1"><%= oac.object.conference.byline.html_safe %></font></td>
                 </tr>
               </table>
             </td>
           </tr>
           <% end -%>
           <% end -%>


           <% if TrainingProgram.with_translations.where('session_group_id = ?',session[:session_group_id]).size > 0 -%>
           <tr>
             <td colspan="2" align="center"><span class="af_normtitle"><%=t :special_conference_participation %></span></td>
           </tr>
           <% end -%>
           <% TrainingProgram.with_translations.where('session_group_id = ?',session[:session_group_id]).each do |tp| -%>
           <% if tp.name == 'Caux Artists Program' -%>
           <tr>
             <td colspan="2">
               <i><%=t :please_only_register_if_you_have_been_accepted_beforehand %></i>
             </td>
           </tr>
           <% end -%>
           <tr>
             <td>
               <%= check_box_tag :training_program_ids, tp.id, @online_application.training_programs.include?(tp), :name => 'online_application[training_program_ids][]', :id => "tp_check_" + (tp.nil? or tp.name.nil? ? '' : tp.name.downcase) %>
               <%= label_tag :training_program_ids, tp.name %>
             </td>
             <td>
               <% if tp.display_dates -%>
                 <%=l tp.start.to_date, :format => :standard %> - <%=l tp.stop.to_date, :format => :standard %>
               <% end -%>
             </td>
           </tr>
           <% if not tp.byline.nil? -%>
           <tr>
             <td colspan="2">
               <table align=left>
                 <tr>
                   <td width="30">&nbsp;</td>
                   <td><font size="-1"><%= tp.byline.html_safe %></font></td>
                 </tr>
               </table>
             </td>
           </tr>
           <% end -%>
           <% end -%>
           <tr>
             <td colspan="2" align="center"><span class="af_normtitle"><%=t :other_reason_title %></span></td>
           </tr>
           <tr>
             <td colspan="2">
               <%= f.check_box :interpreter %> <strong><%=t :interpreter %></strong>
             </td>
           </tr>
           <tr>
             <td>
               <%= f.check_box :volunteer %> <strong><%=t :volunteer %></strong>, <%=t :volunteer_please_specify %>
             </td>
             <td>
               <%= f.text_field :volunteer_detail, :size => 40 %>
             </td>
           </tr>
           <tr class="hide_for_children">
             <td>
               <%= f.check_box :staff %> <strong><%=t :staff %></strong>, <%=t :staff_please_specify %>
             </td>
             <td>
               <%= f.text_field :staff_detail, :size => 40 %>
             </td>
           </tr>
           <tr>
             <td>
               <%= f.check_box :other_reason %> <strong><%=t :other %></strong>, <%=t :other_reason_please_specify %>
             </td>
             <td>
               <%= f.text_field :other_reason_detail, :size => 40 %>
             </td>
           </tr>
         </table>

