         <table class="af_block">
           <tr>
             <td colspan="2" align="center"><span class="af_normtitle"><%=t :personal_information %></span></td>
           </tr>
           <% if @ag.online_applications.count > 0 and @online_application.relation != 'primary applicant' then -%>
           <tr>
             <td colspan="2">
               <div class="field">
                 <span class="af_star">*</span><%= f.label :relation, t(:relation) %><br />
                 <%= f.select(:relation, [ [t('spouse'),'spouse'], [t('child'),'child'], [t('other'),'other'] ], {:include_blank => t(:choose_one)}) %>
               </div>
               <p class="show_for_children prominent_text">
                 <%=t :welcome_children_html %>
               </p>
             </td>
           </tr>
           <% else -%>
             <%= f.hidden_field :relation, :value => 'primary applicant' %>
           <% end -%>
           <tr>
             <td>
               <div class="field">
                 <span class="af_star">*</span><%= f.label :firstname, t(:firstname) %><br />
                 <%= f.text_field :firstname %>
               </div>
             </td>
             <td>
               <div class="field">
                 <span class="af_star">*</span><%= f.label :surname, t(:surname) %><br />
                 <%= f.text_field :surname %>
               </div>
             </td>
           </tr>
           <tr>
             <td>
               <div class="field">
                 <span class="af_star">*</span><%= f.label :date_of_birth, t(:date_of_birth) %><br />
                 <% field_with_errors @online_application, :date_of_birth do -%>
                   <%= f.date_select :date_of_birth, :include_blank => true, :start_year => Time.now.year - 100, :end_year => Time.now.year %>
                 <% end -%>
               </div>
             </td>
             <td>
               <div class="field">
                 <span class="af_star">*</span><%= f.label :gender, t(:gender) %><br />
                 <%= f.select("gender", [ [t('female'),'1'], [t('male'),'2'] ], {:include_blank => t(:choose_one)}) %>
               </div>
             </td>
           </tr>
           <tr>
             <td>
               <div class="field">
                 <span class="af_star">*</span><%= f.label :citizenship_id, t(:citizenship) %><br />
                 <%= f.select(:citizenship_id, [ [t(:other_please_specify),'0'] ] + Country.with_translations.sort { |a,b| a.name <=> b.name }.collect {|p| [ p.name, p.id ] }, {:include_blank => t(:choose_one)}) %>
               </div>
             </td>
             <td>
                <div class="field" id="online_application_other_citizenship_div" style="display: none">
                 <span class="af_star">*</span><%= f.label :other_citizenship, t(:other_citizenship) %><br />
                 <%= f.text_field :other_citizenship %>
               </div>
             </td>
           </tr>
           <tr>
             <td colspan="2">
               <table class="languages_table">
                 <tr>
                   <th>
                     <div class="field">
                       <span class="af_star">*</span><label><%=t :language_name %></label>
                     </div>
                   </th>
                   <th>
                     <div class="field">
                       <label><%=t :language_proficiency%></label>
                     </div>
                   </th>
                 </tr>
                 <%= f.fields_for :online_application_languages do |lf| -%>
                 <tr>
                   <td>
                     <div class="field">
                       <%= lf.select(:language_id, @languages, {:include_blank => t(:choose_one)}) %>
                     </div>
                   </td>
                   <td>
                     <div class="field">
                       <%= lf.select(:proficiency, [ [t('proficiency_poor'),'110'], [t('proficiency_good'),'120'], [t('proficiency_excellent'),'130'], [t('proficiency_native'),'140'] ], {:include_blank => t(:choose_one)}) %>
                     </div>
                   </td>
                 </tr>
                 <% end -%>
               </table>
             </td>
           </tr>
           <tr class="hide_for_children">
             <td>
               <div class="field">
                 <%= f.label :profession, t(:profession) %><br />
                 <%= f.text_field :profession %>
               </div>
             </td>
             <td>
               <div class="field">
                 <%= f.label :employer, t(:employer) %><br />
                 <%= f.text_field :employer %>
               </div>
             </td>
           </tr>
           <tr>
             <td colspan="2">
                 <%= f.label :special_dietary_requirements, t(:special_dietary_requirements) %><br />
                 <%= t(:diet_detail) %><br />
             </td>
           </tr>
           <tr>
             <td colspan="2">
               <% Diet.with_translations.order(:priority_sort).each do |diet| -%>
                 <div <%= diet.name == 'Ramadan' ? 'id="ramadan" style="display: none"'.html_safe : '' -%>>
                   <% @old_locale = I18n.locale; I18n.locale = 'en' -%>
                   <%= check_box_tag :diet_ids, diet.id, @online_application.diets.include?(diet), :name => 'online_application[diet_ids][]', :id => "diet_check_#{diet.name.downcase}" %>
                   <% I18n.locale = @old_locale -%>
                   <%= label_tag :diet_ids, diet.name %> <%= diet.name == 'Ramadan' ? t(:special_meals_at_night) : '' -%>
                 </div>
               <% end -%>
               <span name="diet_other_text" id="diet_other_text" style="display: none">
                 <i><%=t 'other_diet_text' %></i>
               </span>
             </td>
           </tr>
         </table>
