         <%= f.fields_for :permanent_address do |af| %>
         <table class="af_block">
           <tr>
             <td colspan="2" align="center"><span class="af_normtitle"><%=t :permanent_address %></span></td>
           </tr>
           <tr>
             <td colspan="2">
               <div class="field">
                 <span class="af_star">*</span><label><%=t :addresses_street1 %></label><br />
                 <%= af.text_field :street1 %><br />
                 <%= af.text_field :street2 %><br />
                 <%= af.text_field :street3 %>
               </div>
             </td>
           </tr>
           <tr>
             <td colspan="2">
               <div class="field">
                 <span class="af_star">*</span><%=af.label :city, t(:addresses_city) %><br />
                 <%= af.text_field :city %>
               </div>
             </td>
           </tr>
           <tr>
             <td colspan="2">
               <div class="field">
                 <%= af.label :postal_code, t(:postal_code) %><br />
                 <%= af.text_field :postal_code %>
               </div>
             </td>
           </tr>
           <tr>
             <td colspan="2">
               <div class="field">
                 <%=af.label :state, t(:state) %><br />
                 <%= af.text_field :state %>
               </div>
             </td>
           </tr>
           <tr>
             <td>
               <div class="field">
                 <span class="af_star">*</span><%= af.label :country_id, t(:addresses_country_id) %><br />
                 <%= af.select(:country_id, [ [t(:other_please_specify),'0'] ] + Country.with_translations.collect {|p| [ p.name, p.id ] }.sort, {:include_blank => t(:choose_one)}) %>
               </div>
             </td>
             <td>
                <div class="field" id="permanent_address_other_country" style="display: none">
                 <span class="af_star">*</span><%= af.label :other_country, t(:other_country) %><br />
                 <%= af.text_field :other_country %>
               </div>
             </td>
           </tr>
         </table>
         <% end %>
