
<table class="tablerow">
<tr>
  <td class="pagetitle">
    <h1><%=t :your_application_title %></h1>
  </td>
</tr>
</tr>
<tr>
  <td class="af_justify">


<table class="application_list">
  <tr>
    <th></th>
    <th><%=t :firstname %></th>
    <th><%=t :surname %></th>
    <th>Gender</th>
    <th>Arrival</th>
    <th>Departure</th>
    <th></th>
    <th></th>
  </tr>

<% @online_applications.each do |online_application| %>
  <tr>
    <td><%= online_application.relation %></td>
    <td><strong><%= online_application.firstname %></strong></td>
    <td><strong><%= online_application.surname %></strong></td>
    <td><%= online_application.gender == 1 ? 'Female' : 'Male' %></td>
    <td><%= online_application.arrival.to_s(:pretty) %></td>
    <td><%= online_application.departure.to_s(:pretty) %></td>
    <td><%= link_to 'Edit', edit_online_application_path(online_application) %></td>
    <td><%= link_to 'Remove', online_application, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p class="prominent">
<%=t :application_not_yet_submitted_html %>
</p>

<table>
<tr>
<td>
<%= button_to 'Add a person to this application', new_online_application_path, :method => :get %>
</td>
<td>
<%= button_to 'Submit this application', submit_application_group_path, :method => :get %>
</td>
</tr>
</table>

  </td>
</tr>
</table>


