<p id="notice"><%= notice %></p>

<p>
  <b>Application group:</b>
  <%= @online_application.application_group %>
</p>

<p>
  <b>Application group order:</b>
  <%= @online_application.application_group_order %>
</p>

<p>
  <b>Firstname:</b>
  <%= @online_application.firstname %>
</p>

<p>
  <b>Surname:</b>
  <%= @online_application.surname %>
</p>

<p>
  <b>Gender:</b>
  <%= @online_application.gender %>
</p>

<p>
  <b>Country:</b>
  <%= @online_application.country %>
</p>

<p>
  <b>Other citizenship:</b>
  <%= @online_application.other_citizenship %>
</p>

<p>
  <b>Profession:</b>
  <%= @online_application.profession %>
</p>

<p>
  <b>Employer:</b>
  <%= @online_application.employer %>
</p>

<p>
  <b>Email:</b>
  <%= @online_application.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @online_application.telephone %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @online_application.cellphone %>
</p>

<p>
  <b>Fax:</b>
  <%= @online_application.fax %>
</p>

<p>
  <b>Work telephone:</b>
  <%= @online_application.work_telephone %>
</p>

<p>
  <b>Arrival:</b>
  <%= @online_application.arrival %>
</p>

<p>
  <b>Departure:</b>
  <%= @online_application.departure %>
</p>

<p>
  <b>Travel car train:</b>
  <%= @online_application.travel_car_train %>
</p>

<p>
  <b>Travel flight:</b>
  <%= @online_application.travel_flight %>
</p>

<p>
  <b>Previous visit:</b>
  <%= @online_application.previous_visit %>
</p>

<p>
  <b>Previous year:</b>
  <%= @online_application.previous_year %>
</p>

<p>
  <b>Heard about:</b>
  <%= @online_application.heard_about %>
</p>

<p>
  <b>Reference:</b>
  <%= @online_application.reference %>
</p>

<p>
  <b>Diet:</b>
  <%= @online_application.diet %>
</p>

<p>
  <b>Confirmation letter via:</b>
  <%= @online_application.confirmation_letter_via %>
</p>

<p>
  <b>Accompanied by:</b>
  <%= @online_application.accompanied_by %>
</p>

<p>
  <b>Visa:</b>
  <%= @online_application.visa %>
</p>

<p>
  <b>Passport number:</b>
  <%= @online_application.passport_number %>
</p>

<p>
  <b>Passport issue date:</b>
  <%= @online_application.passport_issue_date %>
</p>

<p>
  <b>Passport issue place:</b>
  <%= @online_application.passport_issue_place %>
</p>

<p>
  <b>Passport expire date:</b>
  <%= @online_application.passport_expire_date %>
</p>

<p>
  <b>Passport iofc reference:</b>
  <%= @online_application.passport_iofc_reference %>
</p>

<p>
  <b>Passport iofc reference email:</b>
  <%= @online_application.passport_iofc_reference_email %>
</p>

<p>
  <b>Nightly contribution:</b>
  <%= @online_application.nightly_contribution %>
</p>

<p>
  <b>Remarks:</b>
  <%= @online_application.remarks %>
</p>

<p>
  <b>Badge firstname:</b>
  <%= @online_application.badge_firstname %>
</p>

<p>
  <b>Badge surname:</b>
  <%= @online_application.badge_surname %>
</p>

<p>
  <b>Badge country:</b>
  <%= @online_application.badge_country %>
</p>

<p>
  <b>Reason other:</b>
  <%= @online_application.reason_other %>
</p>

<p>
  <b>Reason interpreting:</b>
  <%= @online_application.reason_interpreting %>
</p>

<p>
  <b>Reason volunteer:</b>
  <%= @online_application.reason_volunteer %>
</p>


<%= link_to 'Edit', edit_online_application_path(@online_application) %> |
<%= link_to 'Back', online_applications_path %>
