<!DOCTYPE html>
<html>
<head>
  <title>Serse Application</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
  <body>
    <div id="main-container" class="container">
      <div class="row" align="center">
        <div id="logo">
           <a href="http://www.caux.iofc.org/<%= locale %>/" title="Click to return to the Home page"><img src="/assets/caux_logo_<%= locale %>.jpg" alt="Click to return to the Home page" /></a>
        </div>
      </div>
      <div class="row">
        <div id="content" class="col-xs-12">
<%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
