<!DOCTYPE html>
<html>
<head>
  <title>Serse Application</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
  <body>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="logo">
             <a href="http://www.caux.iofc.org/<%= locale %>/" title="Click to return to the Home page"><%= image_tag "caux_forum_logo_" + locale.to_s + ".png", size: "300x140" %></a>
          </div>
        </div>
      </div>

<%= yield %>

    </div>
  </body>
</html>
